<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spotify Data</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body >
        <div class="w3-display-topmiddle" style="white-space:nowrap;">
            <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">Spotify</span> Data</span>
            <br>
            <br>
            <span class="w3-centered w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                <span  th:text="'Hello '+${userName}" class="w3-hide-small">Spotify</span>
            </span>
            <br>
            <br>
        </div>
        <div th:if="${display == 0}">
            <div class="w3-display-middle" style="white-space:nowrap;">
                 <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                                     <span class="w3-hide-small" th:text="${userName}"></span> - is not listening to anything right now
                                 </span>
                <br>
                <br>
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                                     <span class="w3-hide-small">try to</span> <a type="button" href="/redirect">Refresh</a>
                                 </span>
            </div>

        </div>
        <div th:if="${display == 1}">
         <div class="w3-display-middle" style="white-space:nowrap;">
             <div style="padding-top: 60px">
                 <div >
                     <div >
                         <div>
                             <marquee behavior="scroll" direction="left" bgcolor="#ffcc00">
                                 <p  th:text="${#strings.abbreviate(currentPlaying.item.album.name,100)}">Kelis</p>
                             </marquee>
                         </div>
                         <div>
                             <marquee behavior="scroll" direction="left" bgcolor="#ffcc00">
                                 <p th:text="${#strings.abbreviate(currentPlaying.item.name+' ('+currentPlaying.item.artists[0].name+')',100)}">Trick me (DJ Flam remix)</p>
                             </marquee>
                         </div>
                         <div id="mobile-box">
                             <audio id="music" preload="true">
                                 <source th:src="@{''+${currentPlaying.item.preview_url}+''}">
                             </audio>
                         </div>
                     </div>
                 </div>
                 <div >
                     <div >
                         <div >
                             <div style="padding-bottom: 50px">
                                 <img id="image"  th:src="@{''+${currentPlaying.item.album.images[0].url}+''}" src="https://mdbootstrap.com//img/Photos/Others/blossom.jpg" alt="">
                             </div>
                             <div class="w3-display-bottommiddle" style="white-space:nowrap;">
                                 <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                                     <span class="w3-hide-small"><a href="/logout" style="margin:auto" type="button" >Log Out</a></span>
                                     <a type="button" href="/redirect">Refresh</a>
                                 </span>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        </div>
</body>

</html>
