<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spotify Data</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <nav >
        <div >
            <ahref="#">Spotify Data</a>
        </div>
    </nav>
    <div >
        <div >
            <h1 >Something Went Wrong <i ></i></h1>
            <h1 >Oops, This Wasn't Supposed To Happen</h1>
        </div>
    </div>
    <div >
        <a type="button" th:href="@{'/'}" >Go To Home</a></div>
</body>

</html>