<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Spotify Data</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div>
    <div class="w3-display-topmiddle" style="white-space:nowrap; padding-top: 65px">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">Spotify</span> Data</span>
        <br>
        <br>
        <span class="w3-centered w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                    <span  th:text="'Hello '+${userName}" class="w3-hide-small">Spotify</span>
                </span>
    </div>
    <div class="w3-display-middle" style="white-space:nowrap; padding-top: 50px">
        <div style="white-space:nowrap;">
            <div style="white-space:nowrap;">
                <div th:each="item : ${playlist.items}">
                    <p th:text="${item.name}"></p>
                    <img style="max-height: 150px; max-width:150px "  th:src="@{${item.images[0].url}}">
                </div>
            </div>
        </div>
    </div>
    <div class="w3-display-bottommiddle" style="white-space:nowrap; padding-bottom: 15px">
                <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
                    <span class="w3-hide-small">
                        <a href="/logout" style="margin:auto" type="button" >Log Out</a>
                    </span>
                    <a type="button" href="/redirect">Back</a>
                </span>
    </div>
</div>
</body>
</html>